.login_wrapper{
    background-color: var(--bg);
}
.form_wrapper{
    background-color: var(--secondary);
    height: 24em;
    width: 340px;
    z-index: 1;
}
input{
    outline: none;
    padding: 8px;
}
.login_bg{
    background-image: url(src/assets/bg1.webp);
    background-size: 160%;
    background-color: rgba(227, 191, 255, 0.245);
    background-blend-mode: lighten;
    background-position: left;
    height: 90%;
    z-index: 0;
}