.home_wrapper {
    min-height: 100%;
}
.genreBoxes {
    display: flex;
}
.genre {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 250px;
    flex-shrink: 0;
}
.genre:hover {
    /* filter: brightness(110); */
}
.genreTitle {
    font-size: 1.6em;
    font-weight: 100;
}
