
.bookSlider{
    overflow-y: hidden;
    overflow-x: scroll;
}

.bookWrapper{
    width: 300px !important;
}
.ant-collapse-header{
    padding: 0px !important;
}
.bookThumbnail:hover{
 outline:2px solid orange ;
}
.page{
    overflow-x: hidden !important;
}