.bookSlider {
    overflow-y: hidden;
    overflow-x: scroll;
}

.bookWrapper {
    width: 300px !important;
}
.ant-collapse-header {
    padding: 0px !important;
}
.bookThumbnail:hover {
    outline: 2px solid orange;
}
.page {
    overflow-x: hidden !important;
}
.storeWrapper
    > .ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header
    > .ant-collapse-expand-icon
    > .ant-collapse-arrow {
    color: white !important;
}
