.header {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.headerContent {
    display: flex;
    justify-content: center;
    gap: 0; 
}

.content {
    align-content: center;
}
