.shelf_content{
    height: fit-content;
    overflow:hidden;
}
.shelf_label{
    width: 10em;
}
.active{
    background-color: var(--primary);
    border: 1px white solid;
}
.shelf_tabs{
    height: 3.6em;
    display: flex;
    flex-direction: row;
    align-items: end;
    width: fit-content;
    color: var(--text);
}