.login_wrapper{
    background-color: var(--bg);
}
.form_wrapper{
    background-color: var(--primary);
    width: 340px;
    z-index: 1;
}
input{
    outline: none;
    padding: 8px;
}
.form-label{
    color: white !important;
}
.ant-form-item-required{
    color: white !important;
}
.ant-checkbox{
    color: white !important;
}
