.themeWrapper {
    background-color:var(--primary);
    height: 200px;
}

.themes {
    background-color:var(--secondary);
}

.themeCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    border: 2px solid #fff;
}
